# Node.js specific files
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Editor files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.ncb*
*.sdf*
*.suo*
*.pdb*
*.user
*.sln
*.aps*
*.pch*
*.obj*
*.ilk*
*.ipch*
*.sbr*
*.scc*
*.log*
*.vspscc*
*.vssscc*
*.ncb*
*.suo*
*.opt*
*.user
*.tmp*
*.bak*
*.gid*
*.idb*
*.ldb*
*.sdf*
*.sync*
*.xap*
*.xapx*
*.zip*
*.rar*

# Playwright specific files
playwright-chromium/
playwright-firefox/
playwright-webkit/
playwright.local/